{%include 'header.html' %}
    
<div id = "main_body">
<h2 id="page_title">About Gopher Films</h2>
<p>Founded 2014, Team Gopher saw the first Gopher Films cinema open within the Trinity shopping center. It is a place where films can be experienced with comfort and enjoyment. 
Our excellent customer service makes us stand out from our competitors as the best location for an enjoyable cinema experience.</p>
<br/>
<p>We offer a wide range of confectionary and drinks options for our customers to ensure that the viewing experience is the best we can provide. Our
VIP lounge provides a private bar and free unlimited confectionary and soft drinks. The lounge is the perfect place to get the most out of your
cinema experience.</p>
<br/>
<p>What are you waiting for? Gopher us!</p>

</div>

{%include 'footer.html' %}



