{%include 'header.html' %}
<div id="main_body">
<h2 id="page_title">Price List</h2>

<div id="ticket_price">
<table class="t_price">
    <thead>
        <tr>
            <th class="invisable"> &nbsp;</th>
            <th class="tl_price"> Standard </th>
            <th class="tl_price"> VIP </th>
        </tr>
    </thead>
    <tbody>
    <tr class="header_bottom">
        <td class="tl_price">Adult </td>
        <td class="tl_price">£7.00</td>
        <td class="tl_price">£9.00</td>
    </tr>
     <tr>
        <td class="tl_price">Child</td>
        <td class="tl_price">£5.00</td>
        <td class="tl_price">£6.00</td>
    </tr>
     <tr>
        <td class="tl_price">Student</td>
        <td class="tl_price">£6.00</td>
        <td class="tl_price">£7.50</td>
       
     </tr>
     <tr>
        <td class="tl_price">Senior</td>
        <td class="tl_price">£6.00</td>
        <td class="tl_price">£7.00</td>
    </tr>
    <tr>
        <td class="tl_price">Teen</td>
        <td class="tl_price">£5.50</td>
        <td class="tl_price"> £7.00 </td>
    </tr>
    </tbody>
</table>
</div>
<div id="food_price">
<table class="t_price">
    <thead>
        <tr>
            <th class="invisable"> &nbsp;</th>
            <th class="tl_price"> Small </th>
            <th> Medium </th>
            <th class="tr_price"> Large </th>
        </tr>
    </thead>
    <tbody>
    <tr class="header_bottom">
        <td id="lu_price" class="tl_price">Popcorn </td>
        <td class="tl_price">£2.50</td>
        <td>£3.25</td>
        <td class="tr_price" id="ru_price">£3.75</td>
    </tr>
     <tr>
        <td class="tl_price">Hot Dog</td>
        <td class="tl_price">£3.00</td>
        <td>£3.75</td>
        <td class="tr_price">£4.25</td>
    </tr>
     <tr>
        <td class="tl_price">Soft Drink</td>
        <td class="tl_price">£2.50</td>
        <td>£3.25</td>
        <td class="tr_price">£3.75</td>
    </tr>
      <tr>
        <td class="tl_price" id="ld_price">Nachos</td>
        <td id="family_td">£3.50</td>
        <td class="b_price"> £4.00</td>
        <td class="tr_price" id="rd_price">£4.25</td>
    </tr>
    </tbody>
</table>
</div>
</div>
{%include 'footer.html' %}
