<div id="sidebar">
    <span  style="display:none;" class="NGetter">{{ss}}</span>
    <span  style="display:none;" class="VIPGetter">{{vs}}</span>
	<ul>
		<li id="booking_heading"> My booking </li>
		<li> {{ movie.title }} <br/> <img class="cover" src="{{ movie.image}}" alt="{{movie.title}} cover"/> </li>
		<li> Screen: {{room}}  </li>
		
		{% if current_path == "/tickets" %}
		<input class="log_b" id="cont" type="submit" value="Continue" disabled/>
		{% endif %}
		
		{% if current_path == "/seating" %}
    	{% if ss > 0 %}
		<li>Standard Seats: <span id="n_seats">0</span>  / {{ss}}</li>
		{% endif %}
		{% if vs > 0 %}
		<li>VIP Seats: <span id="v_seats">0</span> /  {{vs}}</li>
		{% endif %}
		<li>Total: &pound; {{price}}</li>
		<li id="pay_button"> <input type="submit" id="seat_cont" class="log_b" value="Continue" disabled> </li>
		{% endif %}

		{% if current_path  == "/payment" %}
		<li>Seats:<br/>
		{% for seat in seats %}
		{{seat}}<br/>
		{% endfor %}</li>
		<li>Total: &pound; {{price}}</li>
		<li><input class="log_b" id="cont" type="submit" value="Continue" /></li>
		{% endif %}
	</ul>
</div>
